#inicio {
    padding: 1rem;
}

.subtitulo {
    font-size: 20px;
    padding: 1rem;
    color: #001a33;
}

.card-img {
    width: 18rem;
    object-fit: cover;
    object-position: 0 60%;
    cursor: pointer;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
    object-position: 0 60%;
    cursor: pointer;
}

.borda-cor-especial {
    border-color: #8459b4;
}

.fonte-seção {
    font-family: 'Nunito Sans', sans-serif;
}

.tamanho-imagem {
    min-width: 110px;
    width: 110px;
    height: 88px;
}